/* *{
    background-color: hsl(207, 70%, 53%);
} */

.card-background {
    /* position: center; */
    background-color: hsl(244, 38%, 16%);
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
align-items: baseline;
}

.card-body h1 {
    color: hsl(0, 0%, 100%);
    margin-top: 10px;
    
}

.img-div {
    height: inherit;
    width: auto;
}

.stats b {
    color: white;
}
.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution {
     font-size: 11px;
     text-align: center;
     }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}








/* @media(min-width:375px){
    h1 {
        font-size: 1.25rem;
    }

}

@media (max-width: 1440px){
    h1{
        font-size: 3.25rem;
    }
} */
